<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <div class="col s12 m8">
          <table>
            <tr>
              <th>Год</th><th>Январь</th><th>Февраль</th><th>Март</th><th>Апрель</th><th>Май</th><th>Июнь</th>
              <th>Июль</th><th>Август</th><th>Сентябрь</th><th>Октябрь</th><th>Ноябрь</th><th>Декабрь</th><th>Итого</th>
            </tr>
            {% for year in years %}
              <tr>
                {% for month in year %}
                  {% if forloop.first %}
                    {% firstof "" as set_color %}
                  {% elif forloop.last %}
                    {% firstof "#C0C0C0" as set_color %}
                  {% elif month >= 5 %}
                    {% firstof "#DC143C" as set_color %}
                  {% elif month >= 3 %}
                    {% firstof "#FA8072" as set_color %}
                  {% elif month >= 1 %}
                    {% firstof "#FFA07A" as set_color %}
                  {% elif month < 0 %}
                    {% firstof "#008000" as set_color %}
                  {% else %}
                    {% firstof "" as set_color %}
                  {% endif %}
                  <td bgcolor={{set_color}}>{{month}}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endblock %}

  </body>
</html>